<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="ch.pillo.plugins.KeepScreenOn" version="1.0.0">
    <name>cordova-plugin-keepscreenon</name>
    <description>Cordova plugin to set and clear FLAG_KEEP_SCREEN_ON flag.</description>
    <license>Apache 2.0</license>
    <keywords>keepScreenOn</keywords>
    <js-module src="www/js/keepScreenOn.js" name="KeepScreenOn">
        <clobbers target="window.keepScreenOn" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="KeepScreenOn">
                <param name="android-package" value="ch.pillo.plugins.KeepScreenOn"/>
            </feature>
        </config-file>
        <source-file src="src/android/KeepScreenOn.java" target-dir="src/ch/pillo/plugins" />
    </platform>
</plugin>
